# Local MongoDB (for Result)
NOVO_MONGO_USER=
NOVO_MONGO_PASS=
NOVO_MONGO_HOST=
NOVO_MONGO_PORT=
NOVO_MONGO_AUTH_DB=
NOVO_MONGO_DB=

# Local Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# LLM API Key
OPENAI_API_KEY=

# News Source (MongoDB)
NOVO_MONGO_USER=
NOVO_MONGO_PASS=
NOVO_MONGO_HOST=
NOVO_MONGO_PORT=
NOVO_MONGO_AUTH_DB=
NOVO_MONGO_DB=

# Market Price Source (Clickhouse DB)
CH_HOST=
CH_PORT=
CH_DB=
CH_TABLE=
CH_USER=
CH_PASS=
