[submodule "apps/NeuralFusionCore"]
    path = apps/NeuralFusionCore
	url = https://github.com/Novoxpert/NeuralFusionCore.git
    branch = main
[submodule "apps/ChronoBridge"]
    path = apps/ChronoBridge
	url = https://github.com/Novoxpert/ChronoBridge.git
    branch = main
[submodule "apps/NetWeaver"]
    path = apps/NetWeaver
	url = https://github.com/Novoxpert/NetWeaver.git
    branch = main
