[submodule "apps/NeuralFusionCore"]
    path = apps/NeuralFusionCore
    url = git@github.com:Novoxpert/NeuralFusionCore.git

[submodule "apps/ChronoBridge"]
    path = apps/ChronoBridge
    url = git@github.com:Novoxpert/ChronoBridge.git

[submodule "apps/NetWeaver"]
    path = apps/NetWeaver
    url = git@github.com:Novoxpert/NetWeaver.git
