fastapi>=0.116.1
uvicorn>=0.35.0

celery>=5.5.3
redis>=6.4.0
kombu>=5.5.4
amqp>=5.3.1
billiard>=4.2.2

streamlit>=1.50.0

pandas>=2.3.2
numpy>=2.0.1
scikit-learn>=1.7.1
scipy>=1.16.1
joblib>=1.5.1
threadpoolctl>=3.6.0

torch>=2.5.1
torchvision>=0.20.1
torchaudio>=2.5.1
torch-geometric>=2.7.0
triton>=3.1.0

transformers>=4.55.4
tokenizers>=0.21.4
tiktoken>=0.11.0
huggingface-hub>=0.34.4
safetensors>=0.6.2

pydantic>=2.11.7
python-dotenv>=1.1.1
python-multipart>=0.0.20

requests>=2.32.5
httpx>=0.28.1
httpcore>=1.0.9
websockets>=15.0.1

pymongo>=4.14.1
pycryptodome>=3.23.0

protobuf>=6.32.1
pyarrow>=21.0.0

tqdm>=4.67.1
regex>=2025.7.34

altair>=5.5.0
matplotlib>=3.10.5
pillow>=11.0.0

dateparser>=1.2.2
tzlocal>=5.3.1
pytz>=2025.2

jsonschema>=4.25.1
jsonschema-specifications>=2025.9.1
referencing>=0.36.2
rpds-py>=0.27.1
attrs>=25.3.0

